.OrdersWrapper {
  padding: 20px;
  width: 90%;
  margin-bottom: 100px;
  text-align: center;
  background-color: #bbe5f1;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 2px #41403E;
}

@media screen and (max-width: 660px) {
  .OrdersWrapper {
    width: 98%;
    margin-bottom: 50px;
  }
}

.OrdersWrapper:hover {
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

.TraiderHeader {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: left;
}

.CurrencyHeader {
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
  font-weight: normal;
}